// base
html{
  font-size: 62.5%;
}
body{
  font-family: $font-family;
  font-weight: 500;
  font-size: 2.5rem;
  color: $text;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  display: inline-block;
  &:hover{
    opacity: $opacity;
    transition: .3s;
  }
}
.row{
  max-width: $layout-width-inner;
  margin: 0 auto;
  padding: 5% 0;
}
.small{
  font-size: 1.8rem;
}
.btn{
  transition: .3s;
  margin-top: 3%;
}
.gray{
  color: #999999;
  padding: 0 3%;
  font-size: 1.7rem;
}
.green{
  color: $color-accent1;
}
.red{
  color: $red;
}
.blue{
  color: #0000FF;
}
.arrow-red{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: $red transparent transparent transparent;
  margin: 20px auto;
  }
  .sp{
    display: none;
  }
// fv
.fv{
  .sub-title{
    background: $color-accent1;
    color: white;
    text-align: center;
    font-size: 3rem;
    span{
      color: $lite-yellow;
    }
    .lage{
      font-size: 4.2rem;
    }
  }
  .title{
   background: url('../img/end-bg.png');
   h1{
     max-width: 1000px;
     margin: 0 auto;
   }
  }
  .sub{
    padding: 60px 0;
    background: url('../img/sales-bg.png')no-repeat center / cover;
    .img{
      width: $layout-width-inner;
      margin: 0 auto;
    }
  }
}

// copy
.copy-wrapper{
  background: url('../img/title2-bg.png');
  .row{
    padding: 5% 0 1%;
    .wrapper-inner{
      background: #fff;
      padding: 25px;
      .flex{
        display: flex;
        img{
          padding: 12px;
          width: 8%;
          align-self: baseline;
        }
      }
    }
  }
}
.arrow-blue{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #0000ff transparent transparent transparent;
  margin: 20px auto;
  }
.illust{
  text-align: center;
  img{
    padding-bottom: 6%;
  }
  .stop{
    width: 75%;
    margin: 0 auto;
  }
}
.center{
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 55px;
  .under {
    background: linear-gradient(transparent 50%, #DBEDFF 50%);
  }
}


// benefit
.benefit-wrapper{
  .text{
    line-height: 40px;
    .under-bg{
      font-size: 3.7rem;
      background: linear-gradient(transparent 50%, $yellow 50%);
      letter-spacing: 8px;
     }
    .bottom{
      border-bottom: solid 1px $red;
    }
  }
  .text-small{
    line-height: 25px;
    .under-sm{
      background: linear-gradient(transparent 0, $yellow 0);
      }
  }
  
}

.sample-wrapper{
  background: $color-main;
  .wrapper-inner{
    background: white;
    padding: 3%;
    position: relative;
    .center{
      width: 50%;
      margin: 0 auto;
    }
    .caution{
      padding: 0 5%;
      .small{
        font-size: 1.7rem;
      }
    }
    .shadow{
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      img{
        height: 35px;
      }
    }
  }
}
.balloon {
  position: relative;
  display: inline-block;
  padding: 30px 10px;
  width: 100%;
  background: $color-accent1;
  &::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid $color-accent1;
    }
    p{
      font-size: 3.5rem;
      color: white;
      font-weight: 100;
      text-align: center;
      line-height: 25px;
      span{
        color: $lite-yellow;
      }
      .sm{
        font-size: 3.3rem;
        color: white;
      }
      img{
        width: 6%;
        padding: 10px 10px 0;
      }
    }
  .side{
    &::before{
      content: "";
      display: inline-block;
      background-color: white;
      width: 50px;
      height: 3px;
      transform: rotate(62deg) translate(-40px,30px);
      
    }
    &::after{
      content: "";
      display: inline-block;
      background-color: white;
      width: 50px;
      height: 3px;
      transform: rotate(-60deg) translate(40px, 35px);
    }
  }
  }

  // introduction
  .introduction-wrapper{
    background: #FAFAFA;
    .flex{
      display: flex;
      width: $layout-width-inner;
      margin-top: 5%;
      align-items: center;
      .img-left{
        width: 15%;
        margin-right: 5%;
      }
      .img-right{
        width: 30%;
        margin-left: 5%;
      }
    }
    .arrow_box_left{
    position:relative;
    width:60%;
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    border:1px solid #333333;
    color:#333333;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    .en{
      letter-spacing: 2px;
    }
    .under-sm{
      background: linear-gradient(transparent 50%, #FFFF00 50%);
    }
    .under-bg{
      font-size: 2.5rem;
      background: linear-gradient(transparent 50%, $yellow 50%);
     }
    &::after,&::before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:50%;
}
   &::after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:#FFFFFF;
}
  &::before{
    border-color: rgba(51, 51, 51, 0);
    border-top-width:11px;
    border-bottom-width:11px;
    border-left-width:11px;
    border-right-width:11px;
    margin-top: -11px;
    margin-right: 1px;
    border-right-color:#333333;
}
}
.arrow_box_right{
  position:relative;
  width:30%;
  background:#FFFFFF;
  padding:10px;
  text-align:center;
  margin-left: auto;
  height: fit-content;
  border:1px solid #333333;
  color:#333333;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  &::after,&::before{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  left:100%;
  top:50%;
}
 &::after{
    border-color: rgba(255, 255, 255, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-left-color:#FFFFFF;
}
&::before{
  border-color: rgba(51, 51, 51, 0);
  border-top-width:11px;
  border-bottom-width:11px;
  border-left-width:11px;
  border-right-width:11px;
  margin-top: -11px;
  margin-left: 1px;
  border-left-color:#333333;
}
}
 .wide{
width: 80%;
}
.text-box{
  background: #fff;
  border: #333333 solid 1px;
  margin-top: 5%;
  padding: 0 4%;
  .text{
    padding-top: 5%;
      .under-sm{
        background: linear-gradient(transparent 50%, #FFFF00 50%);
      }
  }
  .img{
    padding-top: 2%;
    p{
      font-size: 1.5rem;
    } 
   }
   .img-center{
    width: 30%;
    margin: 0 auto;
   }
   .flex{
    width: 85%;
    margin: 1% auto 6%;
   }
}

.text-aria{
  background: #fff;
  margin-top: 12%;
  .flex{
    display: flex;
    justify-content: center;
    padding: 3%;
    width: 100%;
    .arrow{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 17px 0 17px 17px;
      border-color: transparent transparent transparent $color-accent1;
      padding-right: 2%;
    }
    h3{
      color: $color-accent1;
      font-weight: 100;
      font-size: 3rem;
    }
  }
  .text-inner{
    padding: 0 3% 6%;
    position: relative;
    h4{
      color: white;
      background: $color-accent1;
      border-radius: 50px;
      width: fit-content;
      padding: 0 25px;
      font-weight: 300;
      letter-spacing: 3px;
      font-size: 2.5rem;
    }
    ul{
      margin: 2% 0 2% 4%;
      font-size: 1.8rem;
      line-height: 35px;
    }
    .flex-box{
      display: flex;
      font-size: 2rem;
      line-height: 35px;
      .img{
        padding: 0 3%;
        width: 30%;
      }
      
    }
    .under-text{
      line-height: 35px;
      padding-top: 5%;
    }
    .shadow{
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      img{
        height: 35px;
      }
    }
  }
 }
}
  
// point
.point-wrapper{
  .bg-white{
    max-width: 700px;
    margin: 0 auto;
    padding: 2% 0;
    h1{
      padding-top: 3%;
    }
  }
  .small{
    line-height: 25px;
    padding-top: 1%;
  }
  
  .red{
    color: $red;
  }
  .flex, .flex2{
    display: flex;
    align-items: center;
    padding-top: 3%;
    img{
      width: 30px;
      padding: 5px 5px 0 0;
      -ms-flex-item-align: baseline;
      align-self: baseline;
    }
    p{
      line-height: 35px;
    }
  
  }
  .flex2{
    padding-top: 0;
  }
  h2{
    width: 50%;
  }
  .bg{
    font-size: 4rem;
    font-weight: 100;
    line-height: 55px;
    padding-top: 3%;
    span{
      color: $color-accent2;
    }
    .sm{
      color: $text;
      font-size: 3rem;
    }
    .red{
      color: $red;
      vertical-align: text-top;
    }
  }
  .bg-yellow{
    background: $color-main;
    .bg-yellow-inner{
      max-width: 700px;
      margin: 0 auto;
      padding: 2% 0;
    }  
  }
}

.gray{
  padding-top: 0;
}
// production
.production-wrapper{
  background: #B4E7E6;
  h2{
    .flex{
    display: flex;
    justify-content: center;
    p{
      background: #fff;
      margin: 5px;
      padding: 0 20px;
      color: $color-accent1;
      font-size: 5.8rem;
      font-weight: 100;
    }
  }
  }
  
  .text-box{
    background: #fff;
    padding: 5%;
    margin-top: 3%;
    p{
      padding-top: 3%;
      line-height: 30px;
    }
    .top{
      padding-top: 0;
    }
    .green{
      color: $color-accent1;
      font-size: 2.2rem;
      text-align: end;
    }
    .red{
       color: $red;
      }
    .under-sm{
      background: linear-gradient(transparent 50%, #FFFF00 50%);
    }
    .flex{
      display: flex;
      align-items: center;
      &:first-of-type{
        padding-top: 3%;
      }
      img{
       width: 30px;
       padding: 5px 5px 0 0;
      -ms-flex-item-align: baseline;
      align-self: baseline;
      }
      p{
        padding: 0;
      }
    }
    .flex-img{
      display: flex;
      width: 70%;
      margin: 3% auto;
      justify-content: space-around;
      img{
        width: 27%;
      }
    }
    .img{
      width: 30%;
    margin: 3% auto;
    }
    .flex-box{
      display: flex;
      margin: 3% auto;
      justify-content: space-around;
      img{
        width: 55%;
      }
     
    }
    .img-center{
      width: 80%;
      margin: 3% auto 0;
    }
  }
  .arrow-yellow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 30px 0 30px;
    border-color: $lite-yellow transparent transparent transparent;
    margin: 20px auto;
    }
}

.bg-white2{
  background: #FAFAFA;
  h1{
    color: $color-accent1;
    text-align: center;
    font-weight: 500;
    font-size: 4.3rem;
    padding: 3% 0 0;
  }
  .text-aria{
    background: #fff;
    margin-top: 3%;
    padding: 5%;
    position: relative;
    .shadow{
      width: 100%;
      position: absolute;
      bottom: -21px;
      left: 0;
      img{
        height: 35px;
      }
    }
  }
}

// price
.price-wrapper{
  background: $color-main;
  .medium{
    font-size: 1.8rem;
  }
  h2{
    color: $color-accent2;
    font-weight: 100;
    text-align: center;
    font-size: 8.1rem;
  }
  .wrapper-inner{
    background: white;
    padding: 5% 3%;
    position: relative;
    margin-bottom: 10%;
    .shadow{
      width: 100%;
      position: absolute;
      bottom: -21px;
      left: 0;
      img{
        height: 35px;
      }
    }
    .center{
      h3 {
      width: 60%;
      margin: 0 auto;
      }
      h4{
        width: 66%;
        margin: 0 12%;
      }
      .bottom{
        font-size: 7.5rem;
        font-weight: bold;
        border-bottom: solid 3px $red;
        width: fit-content;
        margin: 5% auto;
        line-height: 42px;
        .yen{
          font-size: 4rem;
        }
        .tax{
          font-size: 3.2rem;
        }
      }
    }
    .flex{
      display: flex;
      align-items: baseline;
      img{
        width: 20px;
        height: 25px;
        margin-right: 7px;
      }
    }
    .small{
      font-size: 1.2rem;
    }
    .text-box{
      border: 2px solid #cccccc;
      border-radius: 20px;
      padding: 3%;
      margin-top: 3%;
      line-height: 38px;
      .top{
        vertical-align: text-bottom;
      }
      .green{
        font-size: 2.6rem;
      }
    }
    .under-sm{
      background: linear-gradient(transparent 50%, #FFFF00 50%);
    }   
  }
  .out{
    font-size: 1.4rem;
  }
}

// end
.end-wrapper{
  background: url('../img/end-bg.png') 100%;
  .flex{
    display: flex;
    align-items: center;
    img{
      padding: 10px 5px 0px 0;
      width: 5%;
      -ms-flex-item-align: baseline;
      align-self: baseline;
    }
  }
  .flex-title{
     display: flex;
     justify-content: center;
     align-items: center;
     .flex-item{
      h1{
        color: $color-accent1;
        -webkit-text-stroke: 3px #FFF;
        font-size: 7rem;    
        filter: drop-shadow(0px 2px 2px #898989); 
      }
    }
    .flex-img{
      width: 12%;
    }
  }
  .arrow-red{
    margin: 35px auto;
  }
  .text-box{
    background: white;
    padding: 3% 5% 10%;
    .under-sm{
      background: linear-gradient(transparent 50%, #FFFF00 50%);
    }   
    .blue{
      color: $text;
      background: linear-gradient(transparent 50%, #D5EAFF 50%);
    }
    .medium{
      font-size: 2rem;
    }
    .box{
      margin-top: 3%;
    }
    .small{
      padding-top: 3%;
    }
    figure{
      width: 60%;
      margin-left: auto;
    }
  }  
    
  }

  // footer
  footer{
    text-align: center;
    .flex{
      display: flex;
      justify-content: center;
      padding: 2%;
      .small{
        font-size: 1.2rem;
      }
      a{
      color: $text;
      margin-right: 3%;
    }
    }
    
  }
  
@include mq() {
  // ここにスマホのスタイルを書く
body{
  font-size: 1.6rem;
}
.sp{
  display: block;
  margin-top: 3%;
}
.small{
  font-size: 1.6rem;
  line-height: 30px;
  font-weight: 100;
}

.fv .sub-title {
  line-height: 43px;
  padding: 10px 0;
  font-size: 3.7rem;
  letter-spacing: -2px;
}
.shadow{
display: none;
}
.title{
  .sp{
    margin-top: 0;
  }
}
.pc{
  display: none;
}
.fv .sub .img{
  padding: 0 15px;
  width: 100%;
}
.row{
  margin: 0;
  width: 100%;
  padding: 15px;
}
.benefit-wrapper .text .under-bg{
  font-size: 3.9rem;
}
.wrapper-inner{
  margin: 15px;
}
.copy-wrapper {
  .row {
    h2{
      padding: 0 15px;
    }
    .wrapper-inner{
  padding: 15px;
  .flex{
    img{
      width: 30px;
      padding: 5px 5px 0 0;
      align-self: baseline;
    }
    p{
      font-size: 1.6rem;
    }
  }
 }
}
}
.illust .stop{
  width: 100%;
}
.center .under{
  font-size: 3.8rem;
}
.center {
text-align: center;
font-size: 3.2rem;
font-weight: 300;
line-height: 55px;
}
.balloon{
padding: 0;
}
.sample-wrapper .wrapper-inner{
  max-width: 640px;
  background: none;
  padding: 0;
  margin: 0;
}
.sample-wrapper .wrapper-inner .center{
padding-top: 3%;
}
.benefit-wrapper{
.text{
font-weight: bold;
line-height: 43px;
}
}
.sp-bold{
font-weight: bold;
}
.text-small{
.under-sm{
  font-weight: bold;
}
}
.sample-wrapper .wrapper-inner .caution .small{
line-height: 30px;
font-size: 1.8rem;
}
.introduction-wrapper{
h1{
  padding-top: 3%;
}
.flex{
  width: 100%;
  max-width: 615px;
}
h3{
  .sp{
    width: 60%;
    margin: 0 auto 10px;
  }
  .bg{
    width: 100%;
  }
}
  .under-bg{
    font-weight: bold;
  }
   

.arrow_box_right{
  width: 50%;
  padding: 5%;
}
 .flex .img-left{
   width: 20%;
}
.flex .img-right{
  width: 37%;
}
.text-box .flex{
 width: 100%;
}
.text-aria {
 background: none;
 .flex{
 padding: 0;
 .arrow{
  border-width: 22px 0 22px 22px;
 }
 h3{
 font-size: 5rem;
 font-weight: bold;
}
}
}

.text-aria .text-inner {
  padding: 0;
  .flex-box{
    flex-direction: column;
    .text{
      padding-top: 3%;
    }
    .img{
      margin: 0 auto;
    }
  }
  h4{
  font-weight: bold
}
ul{
 font-weight: 100;
}
}

}

.point-wrapper{
.bg-white, .bg-yellow .bg-yellow-inner{
  max-width: 610px;
  padding: 15px;
}
h3{
  width: 96%;
}
.bg{
  font-size: 4.9rem;
  font-weight: bold;
  text-align: center;
}
.sp-size{
  font-size: 4rem;
}
.flex p{
  font-weight: bold;
}
.small {
  line-height: 33px;
  padding-top: 3%;
}
.gray{
font-size: 1.6rem;
margin-top: 0;
line-height: 30px;
padding-top: 0;
}
}

.production-wrapper{
h2{
  .flex{
    p{
      padding: 0 12px;
      font-size: 9rem;
      font-weight: bold;
    }     
  }
}
.text-box{
  padding: 15px;
  p{
    font-weight: 100;
    line-height: 43px;
  }
  .gray{
    font-size: 1.6rem;
    margin-top: 0;
    line-height: 30px;
    padding-top: 0;
  }
  .flex-box{
    flex-direction: column;
    img{
      width: 100%;
    }
    .sm-center{
      width: 70%;
      margin: 0 auto; 
    }
  }
  .green{
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
  }
  
}
}

.bg-white2 {
h3{
font-weight: bold;
font-size: 6rem;
padding: 0; 
}
.small{
line-height: 47px;
}
}

.price-wrapper {
h2{
  font-weight: bold;
}
.wrapper-inner{
  background: none;
  padding: 0;
  margin: 0;
  .center{
    h3{
      width: 100%;
    }
    h4{
      width: 100%;
      margin: 10% 0 0;
    }
    .bottom{
      font-size: 6rem;
    }
  }
  .text-box{
    background: white;   
    line-height: 45px;
    margin-top: 5%;
    p{
      font-weight: 100;
    }
    .green,.red,.blue{
      font-size: 2.3rem;
      font-weight: bold;
    }
    .weight{
      font-weight: 100;
    }
    .medium{
      font-size: 1.8rem;
    }
    .size{
      font-size: 1.6rem;
    }
    
  }
  .text-aria{
    .medium{
      font-size: 2rem;
      font-weight: 100;
    }
  }
}
}

.end-wrapper{
.text-box{
  .medium{
    font-size: 2rem;
    font-weight: 100;
  }
  .sp-bold{
    font-weight: bold;
  }
  figure{
    margin-top: 10%;
  }
}
.flex{
  img{
    width: 30px;
  }
}
.gray{
  margin-top: 0;
}
.flex-title{
  .flex-img{
    width: 20%;
  }
}
}
footer{
.flex{
  flex-wrap: wrap;
  padding: 5%;
  .small{
    font-size: 1.5rem;
  }
}
}
};
@include mq($breakpoint: pc) {
  // ここにパソコンのスタイルを書く
};